.App {
 display:flex;
 flex-direction: column;

}

.App-links{
   display:flex;
  flex-direction:row;
  justify-content: space-around;
   background-image: url('./images/landing.png');

}
.Nav-links{
  color:#000;
  background-color: #FD989B;
  text-decoration: none;
  padding:5px;
  font-weight:bold;
}

.Nav-links:hover{
color:#FD989B;
  background-color: #fff;
   font-weight:bold;
}

.btn{
  background-color:#FD989B;
  padding: 5px;
  font-size: 16px;
   font-weight:bold;
}
.btn:hover{
  color:#FD989B;
  background-color: #fff;
   font-weight:bold;
}

.input{
  padding:5px;
    font-size: 16px;
}
.item{
list-style-type: none;
}



.bckgrd-img{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height:300px;
  background-image: url('./images/landing.png');
  background-size: cover;
}

.bckgrd{
  text-align:center;
  background-color: #FDD68A;
}

.title-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C1CA25;
  margin: 10px;
  padding: 10px;
  min-width: 445px;
  min-height: 50px;
  font-size: 30px;
}

.container{
 text-align: center;
  padding:20px;
  background-color: #C1CA25;
}
.default-list{
   background-color:#FDD68A;
}
/* 
FDD68A
FD989B
C1CA25
466C02 
*/